body {
    background-color: #372456;
    margin: 0;
    display: block;
}

html {
    scroll-behavior: smooth;
}

#splash {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    scroll-snap-align: start;
    position: relative;
}

.splash-profile {
    position: absolute;
    top: 32%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, max(-7.5em, max(-20vh, -20vw)));
    z-index: 12;
}

.splash-buttons {
    position: fixed;
    bottom: -0.5em;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform: translate(0%, -50%);
    z-index: 5;
}

#splash h1 {
    color: #FF7070;
    font-family: 'Gothic A1', sans-serif;
    letter-spacing: 0.075em;
    font-size: min(3em, min(6vw, 6vh));
    line-height: 1.75;
    font-weight: 400;
    text-align: center;
    text-shadow: .050em .050em #372456, -.050em .050em #372456, .050em -.050em #392559, -.050em -.050em #392559, 0 -.050em #372456, 0 .050em #372456;
    z-index: 12;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(.25em);
    z-index: 0;
}

#splash .profile-name {
    position: relative;
    left: -.050em;
    top: -.050em;
    color: #372456;
    text-shadow: .050em .050em #F8F2F2, .100em .100em #FF7070;
    font-weight: 900;
    font-size: 1.08em;
}

.profile-img {
    width: min(15em, min(40vh, 40vw));
    margin: 0 auto;
    display: block;
    border: solid 0.5em #FF7070;
    border-radius: 50%;
}

.splash-button {
    width: 1.5em;
    height: 1.5em;
    background-color: #FF7070;
    border-radius: 50%;
    border: solid 0.15em #372456;
    padding: .5em;
    margin: 0 .25em;
    transition: background-color 0.2s ease-out;
}

.button-logo {
    height: 100%;
    width: 100%;
    text-align: center;
}

.splash-button:hover {
    cursor: pointer;
    position: relative;
    background-color: #F8F2F2;
}

.content {
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow: scroll;
}

.content-row {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    scroll-snap-align: start;
    position: relative;
}

.content-block {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    height: 50vh;
    margin: 0;
    background-color: #FF7070;
}

.down-arrow {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 75%;
    left: 50%;
    border: solid 0.2em #FF7070;
    border-left: solid 0.2em transparent;
    border-top: solid 0.2em transparent;
    transform: translate(-50%, -50%) rotate(45deg);

}

@media screen and (min-width: 1000px) {
    .content-block {
        flex: 1;
        height: 100vh;
    }
}

.text-block {
    margin: 2.5vw;
    padding: 2.5vw;
    height: 100%;
    border: solid 2px #F8F2F2;
}

.image-block {
    height: 100%;
    background-color: #7488BE;
}

.content-block h2 {
    color: #F8F2F2;
    text-shadow: .050em .050em #372456;
    font-family: 'Gothic A1', sans-serif;
    font-size: min(3em, min(8vw, 8vh));
    margin: 0;
}

.content-block p {
    color: #F8F2F2;
    font-family: 'Gothic A1', sans-serif;
}